{% extends 'base.html' %}

{% block title%}{{ article.title }}{% endblock title%}

{% block header %}
    <h2>Personal Blog</h2>
    {% if session.username %}
        <a href="{{ url_for('dashboard') }}">Back</a>
    {% else %}
        <a href="{{ url_for('home')}}">Back</a>
{% endif %}
{% endblock header %}

{% block content %}
    <article>
        <header>
            <h3>{{ article.title }}</h3>
        </header>
        <div>{{ article.content | safe }}</div>
    </article>
{% endblock content %}