{% extends 'base.html' %}

{% block title%}Edit Article{% endblock title%}

{% block header %}
    <h2>Edit Article</h2>

    <a href="{{ url_for('dashboard') }}">Cancel</a>
{% endblock header %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ article.title }}"><br>
        <label for="date">Date</label>
        <input type="date" name="date_published" value="{{ article.date_published }}"><br><br>
        <textarea name="content">{{ article.content | safe }}</textarea><br>
        <button type="submit">Update</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
            {% endif %}
    {% endwith %} 
{% endblock content %}
    
