{% extends 'base.html' %}

{% block title%}Dashboard{% endblock title%}

{% block header %}
    <h2>Dashboard</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
            {% endif %}
    {% endwith %} 

    <a href="{{ url_for('add_article') }}">Add New Article</a>
    <div>
        <a href="{{ url_for('home')}}">Logout</a>
    </div>
{% endblock header %}

{% block content %}
    <ul>
        <li>Article 1</li>
        <li>Article 2</li>
        <li>Article 3</li>
    </ul>
{% endblock content %}
